In [ ]:
import re

def text_to_sql(text):
    text = text.lower().strip()

    # SHOW / GET
    if m := re.match(r"(show|get) all (\w+)", text):
        return f"SELECT * FROM {m.group(2)};"

    if m := re.match(r"show (.+) from (\w+)", text):
        cols = m.group(1).replace(" ", "")
        return f"SELECT {cols} FROM {m.group(2)};"

    # COUNT
    if m := re.match(r"count (\w+)", text):
        return f"SELECT COUNT(*) FROM {m.group(1)};"

    # WHERE
    if m := re.match(r"find (\w+) where (\w+) ([<>=]+) (\w+)", text):
        table, col, op, val = m.groups()
        return f"SELECT * FROM {table} WHERE {col} {op} {val};"

    # DELETE
    if m := re.match(r"delete from (\w+) where (\w+) = (\w+)", text):
        table, col, val = m.groups()
        return f"DELETE FROM {table} WHERE {col} = {val};"

    # INSERT
    if m := re.match(r"insert into (\w+) (.+)", text):
        table = m.group(1)
        pairs = m.group(2).split()
        cols, vals = [], []

        for p in pairs:
            k, v = p.split("=")
            cols.append(k)
            vals.append(f"'{v}'" if not v.isdigit() else v)

        return f"INSERT INTO {table} ({','.join(cols)}) VALUES ({','.join(vals)});"

    return "❌ Cannot understand query"

In [ ]:
print("TEXT → SQL (Offline, No LLM)")
print("Type 'exit' to stop\n")

while True:
    user_input = input(">> ")
    if user_input.lower() == "exit":
        break

    print(text_to_sql(user_input))

TEXT → SQL (Offline, No LLM)
Type 'exit' to stop